{% extends "base.html.twig" %}

{% block title %}Symfapp Articles{% endblock %}

{% block body %}
    
        <h3>Hello From the twig end , bootswatch in the building</h3>

        {% if articles %}

        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col">Article title</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                        <td>{{ article.title }}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <a href="/symfapp/public/article/{{ article.id }}" type="button" class="btn btn-sm btn-primary"><i class="bi bi-eye-fill"></i></a>
                                <a href="#" type="button" class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i></a>
                                <a href="#" type="button" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></a>
                            </div>
                        </td> 
                      </tr>  
                    {% endfor %}
                </tbody>
              </table>
        </div>

        {% else %}
            <div class="text-center">
                <i class="bi bi-newspaper text-warning"></i>
                <p>No Articles found</p>
            </div>
        {% endif %}


{% endblock %}
